body{
  background-color: #051D3B ;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.container{
  margin: 6vw auto auto auto;
  max-width: 288px;
  
}

.cabecalho{
  display: flex;
  width: 95%;
  margin: 4vw auto auto auto;  
  justify-content: space-between;
}

.cabecalho__search{
  display: none;
  width: 60%;
  border-radius: 7px;
  border:none;
  height:3.5rem;
  font-family: 'Inter', sans-serif;
  background: rgba(255, 255, 255, 0.16);
  color: #FFFFFF;
  font-size: 1rem;  
  padding: 0;
}
.cabecalho__search::placeholder{
  padding-left: 1rem;
}

.cabecalho__search:hover{
  background: rgba(255, 255, 255, 0.24);
}

.cabecalho__logo{
  height:auto;
}

.cabecalho__perfil{
  display: none;
  align-items: center;
  font-family: 'Inter';
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1.5rem;
}

.cabecalho__perfil img{
  padding-right: 8px;
}

.cabecalho__icons{
  display: flex;
  align-items: flex-start;  
}

.cabecalho__lupa{
  
  padding-right:  40px;
}
.cabecalho__menu{
 
  margin-right: 2vw;
}

.cabecalho__menu:hover{
  width: 110%;
  opacity:0.08;

  
}
.cabecalho__menu:active{
 
  background-color: rgba(80, 129, 251, 0.16);

}

main{
  margin-top: 3.2rem;
}

.left-menu{
  color: #FFFFFF;
  font-weight: 400;
  display: none;
    
}

.left-menu h4{
  letter-spacing: 0.4;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.left-menu ul{
  list-style-type: none;
  padding-left: 0;
}

.left-menu li{
  padding: 0.5rem;
  padding-left: 0;
  
}

.left-menu img{
  padding-right: 1rem;
  vertical-align:middle;
}

.project__outborder{
  background-color: #6BD1FF;
  border-radius: 10px;
  
  padding: 2rem;
  
}

.project__innerborder{
  border-radius: 10px;
  padding:4vw;
  background-color: #141414;

}
.project__mac{
  border-radius: 10px;
  padding-bottom: 1rem;
}

.project__text{
  border: none;
  background-color: #141414;
  color: #FFFFFF;
  height: 92vw;
  resize: none;
  border: none;
  overflow: auto;
  outline: none;
  line-height: 1rem;
  width:100%;

}



